# .npmrc
# 严格匹配引擎版本
engine-strict=true
# 使用淘宝镜像
# registry=https://registry.npmmirror.com
# 使用jfrog镜像
registry=https://jfrog-platform.cn.ali.rccad.net/artifactory/api/npm/ricrwf-virtual-npm/
# 将依赖项提升到顶级 node_modules 中
shamefully-hoist=true
